/* body{
    background-color: aquamarine;
} */

.amount-container{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.amount-box {
    padding: 20px;
    border: 1px solid goldenrod;
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-size: 40px; */
    font-weight: bold;
    border-radius: 5px;
    color: white;
    box-shadow: 4px 4px 8px gray;
}

.deposite{
    background-color: rgb(17, 194, 194);
    
}

.withdraw{
    background-color: rgb(246, 121, 121);
}

.total{
    background-color: rgb(179, 82, 239);
}

.deposite-withdraw-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    gap: 50px;
    text-align: center;
}

.btn{
    padding: 15px 30px;
    margin-top: 10px;
}

.input-box{
    padding: 30px;
    border: 1px solid grey;
}

input{
    padding: 10px 20px;
}

.deposite-btn{
    background-color: rgb(12, 216, 216);
    border-radius: 6px;
    border: none;
    font-weight: bold;
    color: white;
}
.withdraw-btn{
    background-color: rgb(246, 121, 121);
    border-radius: 6px;
    border: none;
    font-weight: bold;
    color: white;
}

.amount{
    font-size: 40px;
}