.box{
    width : 300px;
    height: 300px;
    /* border: 5px dotted ; */
    padding-left: 30px;
    padding-top: 60px;
    padding-right: 30px;

    margin: 100px;
    margin-top: 50px;
    margin-right: 50px;
    background : linear-gradient(90deg,rgb(126, 38, 209),white);

    box-shadow: 4px 40px 80px rgb(81, 59, 59);
    
}
.test{
    background-color: aquamarine;
}
.inside{
    background-color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: large;
    text-align: center;
}

/* for more go to w3school */
/* box er border solid or doted j kono akta othoba just shadow use kora jay */